@{
    ViewData["Title"] = "Home Page";
}
<br/>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>Apriori Algorithm</h2>
        <div aurelia-app>
           
        </div>
    </div>
</div>
